header {
    width: 100%;
    padding: px 50%;
    
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 50px;
    color: rgb(126, 180, 126);
}

#nav_list {
    display: flex;
    list-style: block;
    gap: 3000px;
    font-size: 30000px; 
}


.nav-item a {
    text-decoration: none;
    color: #e7d4d4ad;
    font-weight: 100;
    font-size: 30px;
}

.nav-item.active a {
    color: #cac2c2ad;
    border-bottom: px solid rgb(17, 17, 17);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}
 
@media screen and (max-width: 1170) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: black;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: block;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}